{%extends 'base.html'%}

{%block contents%}
<div style="margin:3% 5%; height:55%;">
    <h1>비밀번호 찾기</h1>
    <form method="POST" action="{%url 'findpassword'%}">
        {%csrf_token%}
    <h3>사용자 확인</h3>
    아이디 : <input style="margin-top: 3px;border-radius: 4px;padding: 7px 5px;" type="text" name="username" required><br>
    전화번호( - 없이 적어주세요) : <input type="number" style="margin-top: 3px;border-radius: 4px;padding: 7px 5px;" maxlength="11" name="phone" oninput="maxLengthCheck(this);" required/><br><br>
    <h3>변경할 비밀번호</h3>
    비밀번호 : <input style="margin-top: 3px;border-radius: 4px;padding: 7px 5px;" type="password" name="changepw1" required><br>
    비밀번호 확인 : <input style="margin-top: 3px;border-radius: 4px;padding: 7px 5px;" type="password" name="changepw2" required><br>
    {{error}}<br>
    <input class="button" style="background-color: rgb(134, 231, 89);cursor: pointer;font-weight: bold;" type="submit" value="수정하기">
</form>
<script>
    function maxLengthCheck(object){
          if (object.value.length > object.maxLength){
            object.value = object.value.slice(0, object.maxLength);
          }
    }
</script>
</div>
{%endblock%}