{%extends 'base.html'%}
{%load staticfiles%}
{%block contents%}
<script>
    function display_c(){
            var refresh=1000; // Refresh rate in milli seconds
            mytime=setTimeout('display_ct()',refresh)
        }

        function display_ct() {
            var now = new Date(); 
            var dday = new Date({{d_day_year}},{{d_day_month}},{{d_day_day}},00,00,00); 
            // 원하는 날짜, 시간 정확하게 초단위까지 기입.
            var days = (dday - now) / 1000 / 60 / 60 / 24; 
            var daysRound = Math.floor(days); 
            var hours = (dday - now) / 1000 / 60 / 60 - (24 * daysRound); 
            var hoursRound = Math.floor(hours); 
            var minutes = (dday - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound); 
            var minutesRound = Math.floor(minutes); 
            var seconds = (dday - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound); 
            var secondsRound = Math.round(seconds);
            var x1;
            x1 = daysRound + " DAYS & " + hoursRound + ":" +  minutesRound + ":" +  secondsRound;
            document.getElementById('ct').innerHTML = x1;
            if (daysRound<0){
            document.getElementById('ct').innerHTML = "★ ☆ D-DAY ☆ ★";
            document.getElementById('ct').style.color = "#FFD700";
            } else if (daysRound<10){
            document.getElementById('ct').style.color = "red";
            } else if (daysRound<20){
            document.getElementById('ct').style.color = "orange";
            } else if (daysRound<30){
            document.getElementById('ct').style.color = "green";
            } else if (daysRound<0){
            document.getElementById('ct').innerHTML = "DDAY";
            } else {
            document.getElementById('ct').style.color = "blue";
            }
            display_c();
        }
</script>
<style>
    #my_mood{
        font-family: 'TmonMonsori', sans-serif;
    }

    @font-face { 
        font-family: 'TmonMonsori'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff'); 
        font-weight: normal; 
        font-style: normal; 
    }
</style>
<body onload="display_ct()">
<div style="margin:3% 5% 3% 5%; height:55%;">
    <h1>{{middle_message}}<div style="display: inline; float:right;">TEMP : {{temp}} C</div></h1>
    <div id="my_mood" style="display: inline-block;">
        {{low_message}}<br>
    </div>
    <div style="text-align: center;width:30%;border-style: double;padding:5px;border-radius: 15px;float:right; font-weight: bold;">
        {{d_day_message}}<br>
        <b>
            <span id='ct'></span>
        </b>
    </div>
<br>
<br>
<br>
<h3><img style="width:20px;height:20px;" src="{%static 'crown.png'%}"/> 인기있는 글</h3>
<table style="width: 100%;border-top: 1px dashed #444444;border-collapse: collapse;">
    {%for a in posts_p%}
    <tr>
        <td style="border-bottom: 1px dashed #444444;padding:3px;"><a href="/board/detail/{{a.id}}">{{a.Title}}</a> <b>{{a.howmanycomment}}</b>
        {{a.file_icon|safe}}
        {%if a.new == "" %}
        <span style="vertical-align:middle">{{a.change|safe}}</span></td>
        {%else%}
        <span style="vertical-align:middle">{{a.new|safe}}</span></td>
        {%endif%}
        <td style="border-bottom: 1px dashed #444444;padding:3px;"><div style="float:right;">
            <span id="user_info">{{a.get_generation|safe}}<span id="user_info_child"><a href="{%url 'select_board' a.get_Phone %}">작성글 보기</a></span></span> / {{a.Created_at|date:"y-m-d"}} / {{a.Created_at|time:"H:i"}} /
            {%if a.howmanyhit %}
            {{a.howmanyhit|safe}}
            {%else%}
            <img style="width:16px;height:16px;" src="{%static 'eye.png'%}"/> 0
            {%endif%}
        </div><br></td>
    </tr>
    {%endfor%}
</table>
<br>

<h3><img style="width:20px;height:20px;" src="{%static 'new.png'%}"/> 최근에 작성한 글</h3>
<table style="width: 100%;border-top: 1px dashed #444444;border-collapse: collapse;">
    {%for a in posts%}
    <tr>
        <td style="border-bottom: 1px dashed #444444;padding:3px;"><a href="/board/detail/{{a.id}}">{{a.Title}}</a> <b>{{a.howmanycomment}}</b>
        {{a.file_icon|safe}}
        {%if a.new == "" %}
        <span style="vertical-align:middle">{{a.change|safe}}</span></td>
        {%else%}
        <span style="vertical-align:middle">{{a.new|safe}}</span></td>
        {%endif%}
        <td style="border-bottom: 1px dashed #444444;padding:3px;"><div style="float:right;">
            <span id="user_info">{{a.get_generation|safe}}<span id="user_info_child"><a href="{%url 'select_board' a.get_Phone %}">작성글 보기</a></span></span> / {{a.Created_at|date:"y-m-d"}} / {{a.Created_at|time:"H:i"}} /
            {%if a.howmanyhit %}
            {{a.howmanyhit|safe}}
            {%else%}
            <img style="width:16px;height:16px;" src="{%static 'eye.png'%}"/> 0
            {%endif%}
        </div><br></td>
    </tr>
    {%endfor%}
</table>
<br>

<h3><img style="width:20px;height:20px;" src="{%static 'refresh.png'%}"/> 최근에 수정된 글</h3>
<table style="width: 100%;border-top: 1px dashed #444444;border-collapse: collapse;">
    {%for a in posts_u%}
    <td style="border-bottom: 1px dashed #444444;padding:3px;"><a href="/board/detail/{{a.id}}">{{a.Title}}</a> <b>{{a.howmanycomment}}</b>
            {{a.file_icon|safe}}
            {%if a.new == "" %}
            <span style="vertical-align:middle">{{a.change|safe}}</span></td>
            {%else%}
            <span style="vertical-align:middle">{{a.new|safe}}</span></td>
            {%endif%}
            <td style="border-bottom: 1px dashed #444444;padding:3px;"><div style="float:right;">
                <span id="user_info">{{a.get_generation|safe}}<span id="user_info_child"><a href="{%url 'select_board' a.get_Phone %}">작성글 보기</a></span></span> / {{a.Created_at|date:"y-m-d"}} / {{a.Created_at|time:"H:i"}} /
                {%if a.howmanyhit %}
                {{a.howmanyhit|safe}}
                {%else%}
                <img style="width:16px;height:16px;" src="{%static 'eye.png'%}"/> 0
                {%endif%}
            </div><br></td>
    </tr>
    {%endfor%}
</table>
<br><br><br>
    <div id="errorauth">
        <h2>{{errorauth|linebreaks}}</h2>
        <input type="button" onclick="window.location.replace('/');" value="확인"/>
    </div>

</div>
{%endblock%}
